$font-family: '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', 'Helvetica', sans-serif;

$window-width-md: 991px;
$window-width-sm: 768px;
$window-width-xs: 560px;

$white: #FFFFFF;
$yellow: #F7CA18;
$green: #26A65B;
$blue: #4D8FAC;
$light-yellow: #F5D76E;
$light-green: #87D37C;
$black: #000000;
$black-gary: #464646;
$red: #ff4c5d;